<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joueurs</title>
  </head>
  <body>
    <div class="container">

      <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Equipe </label>
        <select class="form-control form-control-lg" id="idEq" name="idEq"
        [(ngModel)]="IdEquipe" (change)="onChange()">
        
        <option *ngFor="let equipe of equipes" value="{{equipe.idEq}}">
        {{equipe.nomEq}}
        </option>
        </select>
        </div>

      <div class="card shadow mb-4">
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Date de naissance</th>
              <th>Equipe</th>
              <th>Position</th>
            </tr>
            <tbody *ngFor="let joueur of joueurs">
              <tr>
                <td>{{ joueur.idJoueur }}</td>
                <td>{{ joueur.nomJoueur }}</td>
                <td>{{ joueur.datenaissance | date : "dd/MM/yyyy" }}</td>
                <td>{{ joueur.equipe?.nomEq }}</td>
                <td>{{ joueur.position }}</td>

               <td>
                  <a class="btn btn-danger" (click)="supprimerJoueur(joueur)"
                    >Supprimer</a
                  >
                </td>  
                <td>
                  <a
                    class="btn btn-success"
                    [routerLink]="['/updateJoueur', joueur.idJoueur]"
                    >Modifier</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
